<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data driven Framework" parallel="none">
  <test name="Real Testing">
    <classes>
      <class name="TestScript.TC1"/>
    </classes>
  </test> <!-- Real Testing -->
</suite> <!-- Data driven Framework -->
